html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-48%, -45%);
    opacity: 0;
    display: none;
    transition: opacity 3s;
}

.countdown {
    font-size: 60px;
}

.btn-begin:active:hover {
    background-color: pink;
    transform: scale(0.90);
}

.dialogue>p {
    margin-bottom: 2.5rem;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    opacity: 1;
    transition: opacity 1s;
}

.modal-content {
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    min-height: 300px;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
    padding: 20px;
    line-height: 3rem;
    word-spacing: 0.2rem;
}

.rules-content {
    padding: 30px 10px 10px 10px;
    font-size: 1.8rem;
}

.modal-content>h4 {
    font-weight: bold;
}

input[type=number] {
    width: 25%;
    display: block;
    margin: 7% auto;
    text-align: center;
    font-size: 1.5rem;
}

.close-icon {
    position: absolute;
    top: 0;
    font-size: 2.5rem;
    transform: rotate(45deg);
    right: -1.5rem;
    border: 0;
}

.alert {
    color: #fff;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    background-color: #f44336;
    font-size: 110%;
    opacity: 1;
    line-height: 175%;
    transition: opacity 2s;
}

.modal_error {
    width: 500px;
    min-width: 540px;
    height: auto;
}

.success {
    font-weight: bold;
    border-radius: 4px 4px 0 0;
    padding: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 110%;
    opacity: 1;
    line-height: 175%;
    transition: opacity 2s;
}